ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=eClassroomPro;Username=postgres;Password=postgres

Jwt__Secret=change-this-to-a-long-random-secret-key-at-least-32-chars
Jwt__Issuer=eClassroomPro.API
Jwt__Audience=eClassroomPro.Client
Jwt__ExpiresMinutes=60